{% extends "students/base.html" %}
{% block content %}
<div class="content-section">
    <div class="col-8"></div>
    {% if messages %}
    {% for msg in messages %}

    <div class="alert col-8 alert-{{msg.level_tag}}" role="alert">
        {{ msg.message }}
    </div>
    {% endfor %}
    {% endif %}

    <h2>Ogłoszenia</h2>
    <hr/>
    {% for o in ogloszenia %}
    <div class="panel panel-success">
        <div class="panel-heading">{{o.tresc | slice:"0:12"}} {{o.id_przedmiotu.nazwa}} - {{o.tresc | slice:"12:"}}</div>
        <!-- <div class="panel-body">
        </div> -->
      </div>
    {% endfor %}

</div>
{% endblock content %}