{% extends "students/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <div class="row">
    {% if messages %}
    {% for msg in messages %}
    <div class="col-2"></div>
    <div class="alert col-8 alert-{{msg.level_tag}}" role="alert">
        {{ msg.message }}
    </div>
    {% endfor %}
    {% endif %}
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="content-section justify-content-center col-6">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Zmień hasło</legend>
                    {{ password_form |crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info btn-success" type="submit">Zmień</button>
                </div>
            </form>
        </div>
    </div>

{% endblock content %}