{% extends "students/base.html" %}

{% block content %}

<div class="container">
    <h2>Plan zajęć</h2>
    <hr />

    <div class="row">

        <div class="col-2 border-left border-right">
            Poniedziałek
        </div>
        <div class="col-2 border-left border-right">
            Wtorek
        </div>
        <div class="col-2 border-left border-right">
            Środa
        </div>
        <div class="col-2 border-left border-right">
            Czwartek
        </div>
        <div class="col-2 border-left border-right">
            Piątek
        </div>
    </div>
    <hr>

    <div class="row">

        <div class="col-2 border-left border-right">
            {% for z in zajecia.poniedziałek %}
            <p>{{ z.id_przedmiotu.nazwa }}<br>{{ z.godzina }} {{ z.sala }}</p> <hr/>
            {% endfor %}
        </div>
        
        <div class="col-2 border-left border-right">
            {% for z in zajecia.wtorek %}
            <p>{{ z.id_przedmiotu.nazwa }}<br>{{ z.godzina }} {{ z.sala }}</p> <hr/>
            {% endfor %}
        </div>

        <div class="col-2 border-left border-right">
            {% for z in zajecia.środa %}
            <p>{{ z.id_przedmiotu.nazwa }}<br>{{ z.godzina }} {{ z.sala }}</p> <hr/>
            {% endfor %}
        </div>

        <div class="col-2 border-left border-right">
            {% for z in zajecia.czwartek %}
            <p>{{ z.id_przedmiotu.nazwa }}<br>{{ z.godzina }} {{ z.sala }}</p> <hr/>
            {% endfor %}
        </div>

        <div class="col-2 border-left border-right">
            {% for z in zajecia.piątek %}
            <p>{{ z.id_przedmiotu.nazwa }}<br>{{ z.godzina }} {{ z.sala }}</p> <hr/>
            {% endfor %}
        </div>

    </div>
</div>
{% endblock content %}