{% extends "students/base.html" %}
{% block content %}
<div class="content-section">
    <div class="col-8"></div>
    {% if messages %}
    {% for msg in messages %}

    <div class="alert col-8 alert-{{msg.level_tag}}" role="alert">
        {{ msg.message }}
    </div>
    {% endfor %}
    {% endif %}

    <h2>{{ nauczyciel }}</h2>
    <hr/>
    <h3>Prowadzone przedmioty</h3>
    <br>
    {% for p in przedmioty %}
    <div class="panel panel-success">
        <div class="panel-heading">{{ p }}</div>
      </div>
    {% endfor %}
    <hr>
    <h3>Dane kontaktowe</h3>
    <h4>Adres email: {{ nauczyciel.user.email }}</h4>
    <h4>Numer telefonu: {{ nauczyciel.numer_telefonu }}</h4>
    

</div>
{% endblock content %}