{% extends "students/base.html" %}
{% block content %}
<div class="content-section">
    <div class="col-8"></div>
    {% if messages %}
    {% for msg in messages %}

    <div class="alert col-8 alert-{{msg.level_tag}}" role="alert">
        {{ msg.message }}
    </div>
    {% endfor %}
    {% endif %}

    <h2>Znajdź nauczyciela</h2>
    <hr/>
    <form method="POST" action="/students/nauczyciele/">
        {% csrf_token %}
        <input class="form-control" type="text" placeholder="Wyszukaj po imieniu lub nazwisku" aria-label="Search", name="nauczyciel">
    </form>
    
    <hr/>
    {% for n in nauczyciele %}
    <div class="panel panel-success">
        <div class="panel-heading"><a href="{% url 'student-teacher-details'  n.id %}">{{ n }}</a></div>
        <!-- <div class="panel-body">
        </div> -->
      </div>
    {% endfor %}

</div>
{% endblock content %}