#topnav .navbar-nav {
  margin-left: auto;
  margin-right: auto;
}

#topnav li > a {
  color: rgb(0, 0, 0);
  padding-left: 25px;
  padding-right: 25px;
}

#topnav li > a:hover {
  transition: background-color .2s, color .2s;
  background-color: rgb(72, 52, 245);
  color: rgb(216, 204, 35);
}

body {
  padding-bottom: 30px;
}

.mojlink:hover {
  color: rgb(216, 204, 35);
}

.mojlink {
  color: rgb(255, 255, 255);
  padding-left: 25px;
  padding-right: 25px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px; /* Set the fixed height of the footer here */
  line-height:25px; /* Vertically center the text there */
  background-color: #f5f5f5e7;
  text-align: center;
}