{% load static %}
<!DOCTYPE html>
<html>

<head>
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'teachers/main.css' %}">

  {% if title %}
  <title>Nauczyciel - {{ title }}</title>
  {% else %}
  <title>Nauczyciel</title>
  {% endif %}
</head>

<body>
  <ul class="nav justify-content-center bg-primary navbar-light navbar-static-top" id="topnav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'teacher-add-ann' %}">Dodaj ogłoszenie</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'teacher-ann' %}">Moje ogłoszenia</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'teacher-plan' %}">Plan zajęć</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'teacher-add-grade' %}">Dodaj ocenę</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'teacher-profile' %}">Profil</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'teacher-logout' %}">Wyloguj się</a>
    </li>
  </ul>

  <main role="main" class="container">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <br>
        {% block content %}{% endblock %}
      </div>
    </div>
  </main>
  <footer class="footer">
      <span class="text-muted">Dziennik Elektroniczny</span>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>

</body>

</html>